# Infrastruktur & Core
/prisma/                   @<zanrizkir>
/src/lib/                  @<zanrizkir>

# Modul Produk
/src/modules/forum/        @<mrhackerfreefire-FS-Forum>
/src/modules/activities/   @<G1QY-FS-Act>
/src/modules/report/       @<NobySix66-FS-Report>

# Kualitas & Testing
/.github/                  @<Rumbew22-QA>
/tests/                    @<Rumbew22-QA>