# Database
DATABASE_URL="postgresql://user:password@localhost:5432/concordia?schema=public"

# Auth
AUTH_SECRET="generate-secret-here"
AUTH_URL="http://localhost:3000"

# Storage
STORAGE_ACCESS_KEY=""
STORAGE_SECRET_KEY=""
STORAGE_BUCKET_NAME=""